<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>成功傳送</title>
</head>
<body>
<script type="text/javascript">
    alert("成功發送!我會儘速回復");
    location.href = '{{ indexurl }}';
</script>
</body>
</html>
